# ETL Process

### Import some libraries that may be useful

In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
import holidays
import matplotlib.pyplot as plt

## Data Extracting

In [424]:
# cd ..

In [2]:
pwd

'/Users/lijiaze/Desktop/2023-1/CITS5504/Projects/Project2'

In [3]:
crime1 = pd.read_csv("./CrimeDatasets/crime.csv")

/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/3340851537.py:1: DtypeWarning: Columns (5,10,11,12,13,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  crime1 = pd.read_csv("./CrimeDatasets/crime.csv")

In [4]:
crime2 = pd.read_csv("CrimeDatasets/crime_25471_50000.csv")
crime3 = pd.read_csv("CrimeDatasets/crime_50001_75000.csv")
crime4 = pd.read_csv("CrimeDatasets/crime_75001_100000.csv")
crime5 = pd.read_csv("CrimeDatasets/crime_100001_125000.csv")
crime6 = pd.read_csv("CrimeDatasets/crime_125001_150000.csv")
crime7 = pd.read_csv("CrimeDatasets/crime_150001_175000.csv")
crime8 = pd.read_csv("CrimeDatasets/crime_175001_200000.csv")
crime9 = pd.read_csv("CrimeDatasets/crime_200001_225000.csv")

In [5]:
crime3.head()

,Unnamed: 0.1,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
0,50001,50001,LARCENY-NON VEHICLE,130301252,01/30/2013,477 PEACHTREE ST NE,509,Downtown,M,33.76764,-84.38524,house_number,Peachtree Street Northeast,NaN,Atlanta,Fulton County,Georgia,30308.0,United States
1,50002,50002,LARCENY-NON VEHICLE,130301278,01/30/2013,3535 PEACHTREE RD NE,210,Lenox,B,33.85182,-84.35950,shop,Prichard Way Northeast,NaN,Atlanta,Fulton County,Georgia,30326.0,United States
2,50003,50003,AUTO THEFT,130301304,01/30/2013,213 FAIRBURN ROAD,111,Adamsville,H,33.76137,-84.50423,house_number,Fairburn Road,NaN,Atlanta,Fulton County,Georgia,30331.0,United States
3,50004,50004,AGG ASSAULT,130301325,01/30/2013,1081 CATO STREET NW,110,Grove Park,J,33.78508,-84.45552,house_number,Cato Street Northwest,West Highland,Atlanta,Fulton County,Georgia,30318.0,United States
4,50005,50005,LARCENY-NON VEHICLE,130301463,01/30/2013,850 OAK ST SW @WEST END MALL,401,West End,T,33.74053,-84.41671,office,Oak Street Southwest,West End,Atlanta,Fulton County,Georgia,30310.0,United States

In [6]:
crime3 = crime3.drop(columns=['Unnamed: 0.1'])

In [7]:
crime3.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
0,50001,LARCENY-NON VEHICLE,130301252,01/30/2013,477 PEACHTREE ST NE,509,Downtown,M,33.76764,-84.38524,house_number,Peachtree Street Northeast,NaN,Atlanta,Fulton County,Georgia,30308.0,United States
1,50002,LARCENY-NON VEHICLE,130301278,01/30/2013,3535 PEACHTREE RD NE,210,Lenox,B,33.85182,-84.35950,shop,Prichard Way Northeast,NaN,Atlanta,Fulton County,Georgia,30326.0,United States
2,50003,AUTO THEFT,130301304,01/30/2013,213 FAIRBURN ROAD,111,Adamsville,H,33.76137,-84.50423,house_number,Fairburn Road,NaN,Atlanta,Fulton County,Georgia,30331.0,United States
3,50004,AGG ASSAULT,130301325,01/30/2013,1081 CATO STREET NW,110,Grove Park,J,33.78508,-84.45552,house_number,Cato Street Northwest,West Highland,Atlanta,Fulton County,Georgia,30318.0,United States
4,50005,LARCENY-NON VEHICLE,130301463,01/30/2013,850 OAK ST SW @WEST END MALL,401,West End,T,33.74053,-84.41671,office,Oak Street Southwest,West End,Atlanta,Fulton County,Georgia,30310.0,United States

## Data Concatenating

### Clean up the first Crime data - Delete data after line 25470

In [8]:
# View data in row 25471
crime1.iloc[25471]

Unnamed: 0                         25471
crime                         AUTO THEFT
number                         100051597
date                          01/05/2010
location                1947 DETROIT AVE
beat                                 107
neighborhood                  Grove Park
npu                                    J
lat                             33.76722
long                           -84.45058
type                                 NaN
road                                 NaN
neighbourhood_lookup                 NaN
city                                 NaN
county                               NaN
state                                NaN
postcode                             NaN
country                              NaN
Name: 25471, dtype: object

In [9]:
# Delete row 25470 and all rows after it
crime_clean = crime1.drop(index=range(25470, len(crime1)))

In [10]:
crime_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25470 entries, 0 to 25469
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            25470 non-null  int64
 1   crime                 25470 non-null  object
 2   number                25470 non-null  int64
 3   date                  25470 non-null  object
 4   location              25469 non-null  object
 5   beat                  25470 non-null  object
 6   neighborhood          24397 non-null  object
 7   npu                   25290 non-null  object
 8   lat                   25470 non-null  float64
 9   long                  25470 non-null  float64
 10  type                  25470 non-null  object
 11  road                  24897 non-null  object
 12  neighbourhood_lookup  15747 non-null  object
 13  city                  25279 non-null  object
 14  county                25470 non-null  object
 15  state                 25470 non-null  object
 16  postcode              25453 non-null  float64
 17  country               25470 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 3.5+ MB

### Data Merging

In [11]:
crime_full = pd.concat([crime_clean, crime2, crime3, crime4, crime5, crime6, crime7, crime8, crime9])

In [12]:
crime_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225000 entries, 0 to 24999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            225000 non-null  int64
 1   crime                 225000 non-null  object
 2   number                225000 non-null  int64
 3   date                  225000 non-null  object
 4   location              224998 non-null  object
 5   beat                  225000 non-null  object
 6   neighborhood          215237 non-null  object
 7   npu                   223241 non-null  object
 8   lat                   225000 non-null  float64
 9   long                  225000 non-null  float64
 10  type                  225000 non-null  object
 11  road                  219456 non-null  object
 12  neighbourhood_lookup  137173 non-null  object
 13  city                  222960 non-null  object
 14  county                225000 non-null  object
 15  state                 225000 non-null  object
 16  postcode              224832 non-null  float64
 17  country               225000 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 32.6+ MB

In [13]:
crime_full.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
0,0,LARCENY-NON VEHICLE,103040029,10/31/2010,610 SPRING ST NW,509,Downtown,M,33.77101,-84.38895,house_number,Spring Street Northwest,NaN,Atlanta,Fulton County,Georgia,30308.0,United States
1,1,AUTO THEFT,103040061,10/31/2010,850 OAK ST SW,401,West End,T,33.74057,-84.41680,office,Oak Street Southwest,West End,Atlanta,Fulton County,Georgia,30310.0,United States
2,2,LARCENY-FROM VEHICLE,103040169,10/31/2010,1344 METROPOLITAN PKWY SW,301,Capitol View Manor,X,33.71803,-84.40774,shop,Metropolitan Parkway Southwest,Capitol View,Atlanta,Fulton County,Georgia,30310.0,United States
3,3,AUTO THEFT,103040174,10/31/2010,1752 PRYOR RD SW,307,Betmar LaVilla,Y,33.70731,-84.39674,house_number,Pryor Street,NaN,Atlanta,Fulton County,Georgia,30315.0,United States
4,4,LARCENY-NON VEHICLE,103040301,10/31/2010,JOHN WESLEY DOBBS AVE NE / CORLEY ST NE,604,Old Fourth Ward,M,33.75947,-84.36626,house_number,John Wesley Dobbs Avenue Northeast,Inman Park,Atlanta,Fulton County,Georgia,30312.0,United States

### Only use 1000 Data from crime随机选

In [14]:
crime_1000 = crime_clean.sample(n=1000, random_state=5504)

In [15]:
crime_1000.head()

,Unnamed: 0,crime,number,date,location,beat,neighborhood,npu,lat,long,type,road,neighbourhood_lookup,city,county,state,postcode,country
3481,3481,BURGLARY-RESIDENCE,113031535,10/30/2011,242 ANDERSON AVE NW,108,Dixie Hills,J,33.76133,-84.45106,house_number,Anderson Avenue Northwest,Battle Hill Haven,Atlanta,Fulton County,Georgia,30314.0,United States
9141,9141,AUTO THEFT,122762499,10/02/2012,1270 CAROLINE ST NE,609,Edgewood,O,33.75859,-84.34730,amenity,Caroline Street Northeast,Edgewood,Atlanta,DeKalb County,Georgia,30307.0,United States
18844,18844,LARCENY-FROM VEHICLE,162861653,10/12/2016,3180 ARDLEY RD SW,406,East Ardley Road,I,33.72864,-84.49232,house_number,Ardley Road Southwest,NaN,Atlanta,Fulton County,Georgia,30311.0,United States
19612,19612,AGG ASSAULT,162783066,10/04/2016,738 PRINCE PL NW,109,Center Hill,J,33.77545,-84.46678,neighbourhood,NaN,Center Hill,Atlanta,Fulton County,Georgia,30318.0,United States
436,436,AUTO THEFT,103001600,10/27/2010,2909 CAMPBELLTON RD SW,409,Southwest,R,33.69869,-84.48265,house_number,Campbellton Road Southwest,NaN,Atlanta,Fulton County,Georgia,30311.0,United States

## Data Cleaning

### Dropping Columns

#### 1. Delete columns with a single value

In [16]:
def unique_values(col):
    print('Unique values in column "{}":'.format(col.name))
    print(col.unique())
    print()

crime_1000.apply(unique_values, axis=0)

Unique values in column "Unnamed: 0":
[ 3481  9141 18844 19612   436 18631  6415 22622 11485    79 13072 25057
  5636  5978 24551 18232 25040  2505 16694  3468 18068  2008 22836 19697
 24020  3629  4160  6496 10021 23104 10775 18419 20656 22651 11580  5135
  5658  2801  1744  7969  2749  5270 20882 18711 21253  5341 18997 10419
  1828   724 11714 10349  2112 18706 11047 24139  3742  8669  1686 15258
 21572 17698 16365 22866  5680 23231 18386 20949 19360 15254  8603  1139
 13328 24972 10995 16875 12731 22502 14581  5095 19897 21240 23015  7645
 17855  4412 19553  8093 23096 17472 11065   761 14144  9075 16155   868
 23530 14911  1323   729 17570  3910  4696 12166 22696 12479 13002  9177
 15470  5256  6073 12612  6111  8970 17162 16257 17493 25313 10240 12455
  5738 12154  8561  8145 16930  7212 16326 15538  2799 24136 12628  9200
 19727  8910  7908 20653 17048 13125  8150  9611 10396  8656  5070  1367
 21789 12545 10688 19516 13171 10182  1095  5893 15938 19837 13917  2643
  1708 12634 18009  2407 18581 17287 15639 20609 11824 16050  4335 15811
  4448 10942 19828  5128  8067 20372  5346  1661  5012 13961 20704  5798
 25345 18091 23837 15456 21016 20838  8915 16409 10195  5852 19564 19179
 14136 22341  8852 22605 20977  2037  1570 15655  3628  6933  9877 10339
  1849 22545 10701 23762 21709 10754 16721 19459 12232 20616 21993 20754
 11480 10245 16623 10902  2269 10394 18067  7552  3885 16128  7371 13022
  7945 24695 12191 18690  6861  4810  8989  7881  6317 10162 13850 18491
 10872 21987 18179 11653  4031 19811  7202  9942 10074  2599 11088 18154
 10832  9069 13608 22703 10630 15104 22461  8373  5755 17358  7306  6906
 20322  1974 12982  2708 24478  1403 18804 20367 22092   660  6588  9639
 19365 22387  4722 22490  2746 20840  7853  3007 11228 10787 23044 18182
  2729  6233 12860   357  9174 17353  2600  5124 10576 13749  2489 23732
  8187 14271 22536  4625  9772 20565 15521 10767  5606  4939 16232 15618
 20721  5358  3380  6698 18565  9369  3717 16581 15074  4855 12809 15201
 21091 12991 13965 22708  7374 10620  9280 15799  4543 14956  2467  1968
 15227 19471 16486 19493  1228  2619 24060 15631 13485 15750  3504  7411
 19764 24072 22145  8102 22612 24811 10382  9219 19983 14221 24158  2470
 23167 17426 21877 19242  1568   922  9314  6897 12016 22477 24896  7903
 14429 18914 17154  3159  6004  6497  6320 14849 11627 25368 18686 20101
  9169  3106  6737  6222 16235 10264 13592 23701  9030  1211 10053 20741
 19929  3485 11744 24782 10184 11185 19350 16977  4927  8790  5089 22821
  3532  3129 10886 16040  7976  4064  3059 10134 10299  4126  8307 10106
 24086 11082   260 11854  2761   185 11564 13786 14328 24241 21264 16712
 16742 16963  2962 10675 13648  5316   636  6278 10067   460   852  6281
 22537 18296 17793  3092 17455  4124 22949 10583 12250 13501 13983 21699
 23029 10707  6382 24053 16818  9201 18390 15711 23092  3112 13897 23125
 10388 13403 25196 10083 20930 25118 22865 10912 22527 15127  9855 24781
  4300   581  8274 21149  7845  8249   365 11420  1092 19169 24665 21507
  7731 22667 16838  5214  1965 12070 22481 20313 23605 23396  3580 24830
 18966 16856 17279 20532 13888  1605 22670 16127 10296 23162 15653 23953
 16438  6657  9770  1215 12493 10735 10215 16743 13801  9180  4006 20958
  4742 22118  2507  2476 10077 14965 18967  5908 17979  9727  8662  6940
 24303 22891 14155 24091  3230 11955  2436  7620 11132 14694 13069 18772
  9208 18869 14499 16896  5305  4346 18987   428 22368  4220  2092 18455
 12805 18106 19658 15315  7737 19326  4954  9103  4436  5709  9609 19150
 22978  9505 24484  2959  5605  9466 24233  5076 14805  1727 16803    34
 10667 20815 24509  1227 14842 19526 14193 19814 25153 18391 10746 19947
 11988 14087 10553 19389  5730 23278 19072 18238 21055 25346  7056 16578
 15051  5349 24897  5149  3760 13799 16030 22409  9646  4624  8237  4772
  4690  8940  7647  6501  4351 15357 19205 20050 18362  5640 16436  5401
 23227 16782  8404 10181 19392 11017  2041  7593 18838 24954 11376 16337
  9001  8652  2525  1413 21873 15224  1852  1586 22984  1634  6997 24014
 23620 23883  7319 10873  3258 10113  7630 23629 24799 16000 12739 18064
 21596  6731  9080  4251  7784  3044  3409  4749 20805  5945 21471 16996
   143 19672   828  5556 25405  4144  1513 12916 14907 10918 21589 17852
 12925 16831 14132 10636 24150  8189 11546 13431  2164 21748  2059  5372
  4028 20636  5323  9866  5696  4131   137 15860 20128 16320 23520  1001
  8445  4133  1061 15243 13590 24367   407  9588  9178 13387 21486  3811
 14317 10574  4934 21199  2878 19689  1905 17225 17702   987 24098 22457
 16713 16219  7519 14307 16584 19454 18427  9872  4080 21462  5866 19404
 14198 24628     6  4434  1845 13024  1357  6585 14353 24157  4673  7576
 20124 13865 23463 11586 16459  9106  7353  3850  4966  9032 21305  6581
 20482 13512  5717 17430   118 13294 18085  1500 12296  8819 10258  3930
  9809   717  5702  9603 13219 24621  2232  8219 12793 10842 21439 19061
  2995  5922 21746 23789 17336 15014 20337 19017  8306 19894  7939 10934
 24627  9530 21675 23406 15530  5295 24803  6403 17939  3412 21785  6394
 20423 15904 15695 15942 22315 16301 23294 20441 19753 19064   435  7613
 15847  4316 20797  5191 11727     2  1197  9846  1966 17732 22578 20042
 13290  6592 19757 22346 14182 23431  3854  3693 14917  5756  9072 18929
 22955  7144 17234  7281 22565  8820 25035 23763 13551 13831 21053 17773
 18324  3085 12550 11349 14376 21539 22241  8660  9878 19547  9140  7931
 14858 13452 13195 14395 10890  6470 18787  5160  4983 10361 15440 13539
 22332  5879  9606  9198  1071 15286  8334 10638  1851  3904 24383  8814
  3791 13197 18644 20317  6005 10861  8111 19078  6719  7821  2060 17072
  7502  8455 16374 16090 22220 15464 20462  8425 20237 24840 16851 25204
 20117  8811 16014  6872  6463  7588  5086  7273 23552  4024 19015    53
   688  3388 24463  4105  9123 22366 21529 20677  5733 20699  3619 11712
 22543  7060  2587 21584 16539   969 22496  9651  2792 11104  8394 23690
 13687  3174  7145 14378 25032  7644 21202  7332   598  7937  9531 12178
 21291  8674 18619 20585 17848  5211   565 12157 13188  5697 19066 19489
 20024  8336 24022 25303]

Unique values in column "crime":
['BURGLARY-RESIDENCE' 'AUTO THEFT' 'LARCENY-FROM VEHICLE' 'AGG ASSAULT'
 'LARCENY-NON VEHICLE' 'ROBBERY-PEDESTRIAN' 'ROBBERY-COMMERCIAL'
 'BURGLARY-NONRES' 'HOMICIDE' 'ROBBERY-RESIDENCE']

Unique values in column "number":
[  113031535   122762499   162861653   162783066   103001600   162891745
   123051771    92780570   132781620   103041887   142901522   100091550
   112812159   112781732   100151021   162931076   100101455   102821916
   152801741   113031230   162952390   102862051    92761042   162771855
   100210915   113011322   112961142   123040601   132950333   100310790
   132860502   162911398    92981324    92781015   132771933   112861765
   112812616   102780103   102891085   122881391   102791166   112852339
    92960905   162883147    92920929   112842389   162840206   132900662
   102881049   102980868   132750206   132911060   102851589   162882593
   132831967   100190655   113001411   122812195   102891888   152972343
    92880990   163003358   152832606    92762206   112810410   100291248
   162910331    92950460   162802663   152972218   122810368   102940813
   142870397   100100072   132840044   152780751   142940784    92790919
   153040750   112860916   162752690    92920657    92740781   122910298
   162982386   112931202   162780853   122870687   100310581   163032312
   132832478   102981441   142792218   122760584   152862518   102970955
   100261294   153003091   102931354   102980978   163012125   112980862
   112850726   143011852    92781709   142970781   142912443   122751766
   152952085   112852038   112772197   142962500   112212148   122781310
   152742873   152852004   163020383   100060440   132931958   142982969
   112801057   143011618   122821477   122860864   152771280   122972353
   152840861   152941325    80081069   100190621   142962915   122751120
   162772663   122781785   122892237    92981257   152761620   142900740
   122860951   133001184   132912371   122811706   112860066   102920799
    92868026   142973157   132870760   162792450   142891314   132941935
   102952001   112790999   152892653   162751598   142810538   102801043
   102890403   142963095   162962425   102831003   162892875   163051400
   152932245    92980684   132741863   152871731   112940883   152911902
   112932718   132841692   162751385   112861617   122872708 93001225072
   112842433   102891319   112870972   142812070    92970451   112802456
   100061050   162953243   100231141   152951452    92940627    92962356
   122782315   152832460   132930348   112792207   162781224   162822684
   142792033    92810353   122792286    92780309    92942130   102860047
   102901562   152920182   113011305   122990325   132971377   132910802
   102862333    92791687   132871068   100232006    92870026   132872856
   152802572   162790625   143002588    92980797    92840337    92971171
   132781485   132932057   152812485   132851964   102840888   132912340
   162952328   122921490   112980067   152861295   122951821   142910741
   122880644   100132053   143012913   162881847   123000963   112890216
   122782825   122891664   112742199   132941463   142821104   162900460
   132851149    92840302   162940753   132760211   112971585   162762257
   122972051   132960434   132952085   102810726   132831155   162943222
   132862166   122760276   142850855    92761681   132881755   152981490
    92801832   122841541   112801421   163041261   122962542   123002250
    93000494   102872630   142922139   102782439   100152424   102921652
   162863207    93000299    92831312   102982110   123030707   133001744
   162802812    92800106   112900030    92792048   102791128    92960130
   122890608   102770827   132818047   132860933    92741502   162940880
   102790841   112750075   142931791   103012146   122751699   163042569
   102810763   112861596   132880181   142831468   102821335   100241377
   122861603   142771352    92791423   112911199   132980074    92991062
   152940535   132860073   112822183   112880276   152851404   152931522
    92970749   112840594   113041945   123022214   162902493   133032332
   113001060   152810803   152980327   112891349   142948004   152971123
    92930318   142912681   142812164    92770103   122951927   132881543
   133042095   152911565   112922281   153001573   102820870   102872442
   152971640   162791116   152823076   162791674   102931393   102800499
   100201243   152931848   142860688   152910490   113021597   122940934
   162761178   100201391    92830692   122870923    92780390   100121035
   132912084   122750263    93041815   142781931   100191061   102820929
   100300775   163031069    92850346   162821853   102911050   102961585
   133030471   123002037   143031772    92802152   100110569   122892150
   142751926   162850507   152753003   102750706   112782571   123040749
   112742292   153011008   132762100   100061562   162881679    93031070
   122751539   102751842   123021038   112752184   152851442   132921342
   142850307   100240516   122770890   102942404   132951428    92970980
    93040530   113031610   132751375   100120375   132941959   132822634
   162802248   152770200   112888010   122801487   112860718    92760872
   113020327   102750122   132851447   152871568   122881580   112970602
   102761210   132940758   132920040   112960525   122852697   132942281
   100201697   132830978   103021756   132742623   102791493   103028048
   132771617   142832462   142761198   100180443    92921034   152802321
   152803195   152772355   102771719   132870127   142841564   112841810
   102992222   112751449   132951757   103002301   102970702   112751531
    92791460   162920350   162980545   102761969   163031842   112960498
    92750814   132880385   142992484   142861232   142812605    92871822
    92741044   132871246   123050747   100201073   152790937   122751141
   162910575   152922148   100310528   102752013   142822947   100311174
   132912211   142862633   100071605   132952574    92952300   100071986
    92762133   132852225    92791328   152982046   132970147   100120364
   112942545   102991198   122851635    92931452   122890153   122851109
   103012308   132791818   102951948   162832006   100131684    92891335
   122902294    92781257   152782387   112851294   102872401   143022271
    92791877    93012151   100250870   100270735   113012375   100121368
   162852328   152782815   163051237    92990649   142822537   102900490
    92781283   152861228   132922565   100300628   152920054   100211376
   152831606   123021264   132972214   102942441   142971284   132872152
   132931028   152803202   142832939   122751772   112971163    92950704
   112900718    92830098   102821990   102821093   132952277   153001805
   162852340   112791195   162961388   132991170   122811916   122990740
   100188011    92751984   142792450   100201889   102740277   143032645
   102830774   122921333   132820916   153032642   142901403   162871081
   122751340   162862167   142742773   152781094   112841534   112941183
   162852983   103001469    92810886   112952320   102851174   162912445
   142943019   162950787   162770724   152963520   122902490   162812645
   112880910   122761378   112931596   112793114   133001173   162831484
    92742148   133010646   100151576   102771564   112822182   133022907
   100180213   112860378   153011905   102890741   152793078   103041224
   132882863    92961744   100151244   102931390   153010619   162792784
   142780998   162762282   100081157   162910578   132872498    93040977
   143030657   142790139   132892682   162800411   112800870   100291083
   162842119   162931231    92941481   100061052   122980994   152810465
   152993136   112842536   100110574   112862022   113001865   142832898
   152871152    92800617   133001960   112911173   122842722   112901416
   112912559   122780575   122910409   123040929   112941332   152962692
   162820955    93030017   162922701   112812283   152831480   112830314
   100291214   152792488   122842464   132941930   162800763   132841161
   102860230   122922698   162861547   100111974   132802762   152841040
   122772275   122811541   102811272   102921956    92850236   152971521
   102870014   102900098    92742340   102901184   122992021   100210771
   100251169   100220386   122950439   132851197   102741417   132942522
   122912846   100251278   100120820   152882771   142941073   162952153
    92880201   123020970   122760756   112951413   122901144   102761022
   112882155   112900926    92961443   112781590    92892039   152771042
   103032340   162771183   102971900   112821990   100050442   112960901
   102911379   142920274   153002929   132852332    92880008   162982332
   142920439   152782189   142791920   132882014   100190956   122861650
   132771218   142862013   102850269    92870833   102860793   112840930
   112971538    92981047   112841953   132970955   112811002   112960648
   103032084   152901485    93020500   152840508   100261029   102952715
   122831243   112960711   102951359   152971957   142850283   100170516
   103010796   133012685   122751767   142872684    92892351   112991968
   142772912   132880154   112880186    92921796   102781771   162771611
   102871192   152741924   163003462   102952816   100202012    92801738
   152802345   152851003   122932589   142772630   152810839   162790406
   162911544   132971143   112971886    92901738   112792594   162801084
   142781145   100141761   103040345   112931574   102881478   142910805
   102920427   123030562   142761748   100191059   112912262   122922134
    93020418   142821610   100270066   132772271   152823326   122761448
   122951321   112990796   112881306   122770978    92910117   123030495
    92991850   142861453   112800632   163031182   103031563   142882438
   162952979   102911214   143001636   122791203   132922743   112981226
   132981643   102980760   112811048   133001073   142892775   100141677
   102840248   122862547   142942757   132862434    92901025   162841815
   102770566   112791565    92870817   100231874   163042011   152991682
    93000760   162840777   122852665   162752598   122880542   132852715
   100141741   133011291    92871277   100270857   152941079   112841347
   100120881   123051470   162972167   113030562    92862129   123051254
    93001802   152893298   152921764   152892870    92811672   152842599
   100292178    92991214   162761009   162841848   103001582   122921124
   152900950   112940162    92961361   112850705   132750803   103040169
   102941979   132982992   102872402   162991590    92790594    93031874
   142882110   123030787   162761068    92810447   142780317   100271380
   112990871   113000454   153003247   112801502   122760487   162850923
    92750869   122970532   152742273   122962030    92790309   122791211
   100101411   100232046   142851727   142820562    92941347   162993041
   162921672   102761819   142973272   132802193   142762663    92890470
    92822415   122811816   132971380   162780691   122762471   122880199
   153011234   142862453   142892018   142760862   132851593   123042514
   162871684   112862281   112881590   132911628   152950731   142851386
    92812119   112792898   133001108   122751075   102951493   152961404
   122842840   132882048   102862404   112980804   100151552   122791045
   112991576   142892059   162892228    93018082   112782584   132850759
   122871179   162842234   123020559   122891481   102860797   152762689
   122931876   122831415   152832829   152873285    92821693   152951929
    92991577   122830706    93010724   100121559   152782751   100071756
    93020264   122790918   152883485   123001435   123042809   122922561
   112860666   122961603   100262012   112971473   162840770   103041544
   102982000   113042086   100161836   112960037   122761844    92810786
    92890052    92981664   112800911    92970197   113011045   132750102
    92791651   122981187   102811215    92881298   152821417   102960826
    92790822   133002035   102792352   132830495   122842209   100240263
   142842633   102750986   122970534   142762804   100101324   122910284
    92921815   122950748   102991557   122880413   133011310   143012414
    92910844   122812315   162891486    92980317   162982238   112851281
   102990815   143011665   142891738   112811021   162841871   162791607
    93031422   122842641   100210920   100060120]

Unique values in column "date":
['10/30/2011' '10/02/2012' '10/12/2016' '10/04/2016' '10/27/2010'
 '10/15/2016' '10/31/2012' '10/05/2009' '10/05/2013' '10/31/2010'
 '10/17/2014' '01/09/2010' '10/08/2011' '10/05/2011' '01/15/2010'
 '10/19/2016' '01/10/2010' '10/09/2010' '10/07/2015' '10/21/2016'
 '10/13/2010' '10/03/2009' '10/03/2016' '01/21/2010' '10/28/2011'
 '10/23/2011' '10/30/2012' '10/22/2013' '01/31/2010' '10/13/2013'
 '10/17/2016' '10/25/2009' '10/04/2013' '10/13/2011' '10/05/2010'
 '10/16/2010' '10/14/2012' '10/06/2010' '10/12/2011' '10/23/2009'
 '10/14/2016' '10/19/2009' '10/11/2011' '10/10/2016' '10/17/2013'
 '10/15/2010' '10/25/2010' '10/02/2013' '10/18/2013' '10/12/2010'
 '10/10/2013' '01/19/2010' '10/27/2011' '10/07/2012' '10/24/2015'
 '10/15/2009' '10/26/2016' '10/10/2015' '01/29/2010' '10/22/2009'
 '10/06/2016' '10/21/2010' '10/14/2014' '10/11/2013' '10/05/2015'
 '10/21/2014' '10/06/2009' '10/31/2015' '10/01/2016' '10/01/2009'
 '10/17/2012' '10/24/2016' '10/20/2011' '10/13/2012' '10/29/2016'
 '10/06/2014' '10/13/2015' '10/24/2010' '01/26/2010' '10/27/2015'
 '10/20/2010' '10/27/2016' '10/25/2011' '10/17/2011' '10/28/2014'
 '10/24/2014' '10/18/2014' '10/01/2012' '10/22/2015' '10/04/2011'
 '10/23/2014' '10/04/2012' '10/01/2015' '10/12/2015' '10/28/2016'
 '01/06/2010' '10/20/2013' '10/25/2014' '10/07/2011' '10/08/2012'
 '10/12/2012' '10/04/2015' '10/23/2012' '10/11/2015' '10/21/2015'

Unnamed: 0              None
crime                   None
number                  None
date                    None
location                None
beat                    None
neighborhood            None
npu                     None
lat                     None
long                    None
type                    None
road                    None
neighbourhood_lookup    None
city                    None
county                  None
state                   None
postcode                None
country                 None
dtype: object

As country, state and city all have the same value, the location attribute can be reduced to more specific information such as county, road, neighbourhood, npu etc. This reduces the complexity of storing and processing data and also improves accuracy and usability. This reduces the complexity of data storage and processing, avoids data redundancy, and also improves the accuracy and availability of the data.

In [17]:
sandy_springs_rows = crime_1000[crime_1000['city'] == 'Sandy Springs']
sandy_springs_rows

Empty DataFrame
Columns: [Unnamed: 0, crime, number, date, location, beat, neighborhood, npu, lat, long, type, road, neighbourhood_lookup, city, county, state, postcode, country]
Index: []

In this project we only focus on Atlanta city, disregard 'Sandy Springs' for less redundancy.

In [18]:
# Delete the only one city line which is equal to "Sandy Springs"
crime_1000 = crime_1000[crime_1000['city'] != 'Sandy Springs']

In [19]:
crime_1000 = crime_1000.drop(columns=['city'])
crime_1000 = crime_1000.drop(columns=['state'])
crime_1000 = crime_1000.drop(columns=['country'])

#### 2. Delete neighbourhood_lookup column due to too many missing values

In [20]:
print(crime_1000.isnull().sum())

Unnamed: 0                0
crime                     0
number                    0
date                      0
location                  0
beat                      0
neighborhood             40
npu                       7
lat                       0
long                      0
type                      0
road                     21
neighbourhood_lookup    357
county                    0
postcode                  1
dtype: int64

In [21]:
# Calculating the missing rate
null_counts_neighbourhood_lookup_full = crime_1000['neighbourhood_lookup'].isnull().sum()
null_rates_neighbourhood_lookup_full = null_counts_neighbourhood_lookup_full / len(crime_1000) * 100
print(f"{null_rates_neighbourhood_lookup_full}%")

35.699999999999996%

Calculations show a deletion rate of neighbourhood_lookup almost reach 40%, well above the common standard for high deletion rates (greater than 5% or 10%), so deletion was considered.

In [22]:
crime_1000 = crime_1000.drop(columns=['neighbourhood_lookup'])

#### 3. Dropping not useful columns

postcode, number, Unnamed: 0, Lat column and Long column need to be dropped since they are not used in this project.

In [23]:
crime_1000 = crime_1000.drop(columns=['Unnamed: 0'])
crime_1000 = crime_1000.drop(columns=['postcode'])
crime_1000 = crime_1000.drop(columns=['number'])
crime_1000 = crime_1000.drop(columns=['lat'])
crime_1000 = crime_1000.drop(columns=['long'])

In [24]:
# crime_1000 = crime_1000.drop(columns=['npu'])
crime_1000 = crime_1000.drop(columns=['road'])
crime_1000 = crime_1000.drop(columns=['county'])

### Time values issue

#### 1. Convert date to datetime type

In [25]:
crime_1000['date'] = pd.to_datetime(crime_1000['date'])

# Add columns for year, quarter, month, day of week, date, etc. --- Big Data 4s
crime_1000['Year'] = crime_1000['date'].dt.year
crime_1000['Month'] = crime_1000['date'].dt.month
# crime_1000['Month'] = crime_1000['date'].dt.month.apply(lambda x: pd.Timestamp(year=2022, month=x, day=1).strftime('%B'))
# crime_1000['Weekday'] = crime_1000['date'].dt.strftime('%A')

#### 2. Add column to determine if it is a public holiday

In [449]:
# !pip install holidays

In [27]:
us_holidays = holidays.US(years=range(2009, 2018))

crime_1000['date'] = pd.to_datetime(crime_1000['date'])

crime_1000['PublicHoliday'] = crime_1000['date'].apply(lambda x: us_holidays.get(x, 'NotHoliday'))

# Merge the holiday names of "(Observed)"
crime_1000['PublicHoliday'].replace('Christmas Day (Observed)', 'Christmas Day', inplace=True)
crime_1000['PublicHoliday'].replace("New Year's Day (Observed)", "New Year's Day", inplace=True)
crime_1000['PublicHoliday'].replace('Veterans Day (Observed)', 'Veterans Day', inplace=True)
crime_1000['PublicHoliday'].replace('Independence Day (Observed)', 'Independence Day', inplace=True)

print("Unique values in column \"PublicHoliday\":")
print(crime_1000['PublicHoliday'].unique())

Unique values in column "PublicHoliday":
['NotHoliday' 'Columbus Day' 'Martin Luther King Jr. Day']

In [28]:
crime_1000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 3481 to 25303
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   crime          1000 non-null   object
 1   date           1000 non-null   datetime64[ns]
 2   location       1000 non-null   object
 3   beat           1000 non-null   object
 4   neighborhood   960 non-null    object
 5   npu            993 non-null    object
 6   type           1000 non-null   object
 7   Year           1000 non-null   int64
 8   Month          1000 non-null   int64
 9   PublicHoliday  1000 non-null   object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 85.9+ KB

### Missing values issue

In [29]:
# crime_1000['location'] = crime_1000['location'].fillna('Unknown')
crime_1000['neighborhood'] = crime_1000['neighborhood'].fillna('Unknown')
crime_1000['npu'] = crime_1000['npu'].fillna('Unknown')
# crime_1000['road'] = crime_1000['road'].fillna('Unknown')

In [30]:
# Check for missing values
print(crime_1000.isnull().sum())

crime            0
date             0
location         0
beat             0
neighborhood     0
npu              0
type             0
Year             0
Month            0
PublicHoliday    0
dtype: int64

### Police Area values issue

In [31]:
# manually collect zones from the pattern of beats
def get_zone(beat):
    if beat.startswith('1'):
        return 'Zone1'
    elif beat.startswith('2'):
        return 'Zone2'
    elif beat.startswith('3'):
        return 'Zone3'
    elif beat.startswith('4'):
        return 'Zone4'
    elif beat.startswith('5'):
        return 'Zone5'
    elif beat.startswith('6'):
        return 'Zone6'
    elif beat.startswith('7'):
        return 'Zone7'
    elif beat.startswith('0'):
        return 'Zone7'
    else:
        return 'Unknown'

In [32]:
crime_1000['beat'] = crime_1000['beat'].astype(str)
crime_1000['Zone'] = crime_1000['beat'].apply(get_zone)

In [33]:
crime_1000.head()

,crime,date,location,beat,neighborhood,npu,type,Year,Month,PublicHoliday,Zone
3481,BURGLARY-RESIDENCE,2011-10-30,242 ANDERSON AVE NW,108,Dixie Hills,J,house_number,2011,10,NotHoliday,Zone1
9141,AUTO THEFT,2012-10-02,1270 CAROLINE ST NE,609,Edgewood,O,amenity,2012,10,NotHoliday,Zone6
18844,LARCENY-FROM VEHICLE,2016-10-12,3180 ARDLEY RD SW,406,East Ardley Road,I,house_number,2016,10,NotHoliday,Zone4
19612,AGG ASSAULT,2016-10-04,738 PRINCE PL NW,109,Center Hill,J,neighbourhood,2016,10,NotHoliday,Zone1
436,AUTO THEFT,2010-10-27,2909 CAMPBELLTON RD SW,409,Southwest,R,house_number,2010,10,NotHoliday,Zone4

### Attribute name normalization

In [34]:
crime_1000 = crime_1000.rename(columns={'crime': 'CrimeType', 'date': 'Date', 'type': 'PropertyType', 'location': 'Location',
                                        'npu': 'NPU', 'beat': 'Beat', 'neighborhood': 'Neighborhood'})

In [35]:
crime_1000.head()

,CrimeType,Date,Location,Beat,Neighborhood,NPU,PropertyType,Year,Month,PublicHoliday,Zone
3481,BURGLARY-RESIDENCE,2011-10-30,242 ANDERSON AVE NW,108,Dixie Hills,J,house_number,2011,10,NotHoliday,Zone1
9141,AUTO THEFT,2012-10-02,1270 CAROLINE ST NE,609,Edgewood,O,amenity,2012,10,NotHoliday,Zone6
18844,LARCENY-FROM VEHICLE,2016-10-12,3180 ARDLEY RD SW,406,East Ardley Road,I,house_number,2016,10,NotHoliday,Zone4
19612,AGG ASSAULT,2016-10-04,738 PRINCE PL NW,109,Center Hill,J,neighbourhood,2016,10,NotHoliday,Zone1
436,AUTO THEFT,2010-10-27,2909 CAMPBELLTON RD SW,409,Southwest,R,house_number,2010,10,NotHoliday,Zone4

##  Design Fact table and Dimension tables

### Dimension Tables

#### DimTime

In [36]:
dfTime = crime_1000[['Year', 'Month', 'Date']]
dfTime = dfTime.drop_duplicates().reset_index(drop=True)
dfTime['TimeKey'] = range(1, len(dfTime) + 1)

#### DimLocation

In [37]:
# dfLocation = crime_1000[['Neighborhood']]
# dfLocation = dfLocation.drop_duplicates().reset_index(drop=True)
# dfLocation['LocationKey'] = range(1, len(dfLocation) + 1)

# 生成唯一的 Beat 和 Zone 组合
unique_NN = crime_1000[['Neighborhood', 'NPU']].drop_duplicates().reset_index(drop=True)

# 为每个唯一组合分配一个 BeatKey
unique_NN['LocationKey'] = unique_NN.index + 1

#### DimNPU

In [38]:
dfNPU = crime_1000[['NPU']]
dfNPU = dfNPU.drop_duplicates().reset_index(drop=True)
dfNPU['NPUKey'] = range(1, len(dfNPU) + 1)

#### DimCrimeType

In [39]:
dfCrimeType = crime_1000[['CrimeType']]
dfCrimeType = dfCrimeType.drop_duplicates().reset_index(drop=True)
dfCrimeType['CrimeTypeKey'] = range(1, len(dfCrimeType) + 1)

#### DimZone

In [40]:
dfZone = crime_1000[['Zone']]
dfZone = dfZone.drop_duplicates().reset_index(drop=True)
dfZone['ZoneKey'] = range(1, len(dfZone) + 1)

In [41]:
dfZone

    Zone  ZoneKey
0  Zone1        1
1  Zone6        2
2  Zone4        3
3  Zone3        4
4  Zone5        5
5  Zone2        6
6  Zone7        7

#### DimBeat

In [42]:
# 生成唯一的 Beat 和 Zone 组合
unique_beat_zone = crime_1000[['Beat', 'Zone']].drop_duplicates().reset_index(drop=True)
# unique_beat_zone = unique_beat_zone.rename(columns={'ZoneKey': 'BeatZoneKey'})

# 为每个唯一组合分配一个 BeatKey
unique_beat_zone['BeatKey'] = unique_beat_zone.index + 1

#### DimPropertyType

In [43]:
dfPropertyType = crime_1000[['PropertyType']]
dfPropertyType = dfPropertyType.drop_duplicates().reset_index(drop=True)
dfPropertyType['PropertyTypeKey'] = range(1, len(dfPropertyType) + 1)

### Fact Table

#### Generate Fact Table with all foreign keys

In [44]:
crime = crime_1000

In [45]:
dfAll = crime_1000[['Year', 'Month', 'Date', 'NPU', 'Neighborhood', 'PropertyType', 'Zone', 'Beat', 'CrimeType']]
dfAll = pd.merge(dfAll, dfTime, on=['Year', 'Month', 'Date'], how='left')
dfAll = pd.merge(dfAll, dfNPU, on=['NPU'], how='left')
dfAll = pd.merge(dfAll, unique_NN, on=['Neighborhood', 'NPU'], how='left')
# dfAll = pd.merge(dfAll, dfLocation, on=['Neighborhood'], how='left')
dfAll = pd.merge(dfAll, dfCrimeType, on=['CrimeType'], how='left')
dfAll = pd.merge(dfAll, dfZone, on=['Zone'], how='left')
dfAll = pd.merge(dfAll, unique_beat_zone, on=['Beat', 'Zone'], how='left')
dfAll = pd.merge(dfAll, dfPropertyType, on=['PropertyType'], how='left')

In [46]:
dfAll

,Year,Month,Date,NPU,Neighborhood,PropertyType,Zone,Beat,CrimeType,TimeKey,NPUKey,LocationKey,CrimeTypeKey,ZoneKey,BeatKey,PropertyTypeKey
0,2011,10,2011-10-30,J,Dixie Hills,house_number,Zone1,108,BURGLARY-RESIDENCE,1,1,1,1,1,1,1
1,2012,10,2012-10-02,O,Edgewood,amenity,Zone6,609,AUTO THEFT,2,2,2,2,2,2,2
2,2016,10,2016-10-12,I,East Ardley Road,house_number,Zone4,406,LARCENY-FROM VEHICLE,3,3,3,3,3,3,1
3,2016,10,2016-10-04,J,Center Hill,neighbourhood,Zone1,109,AGG ASSAULT,4,1,4,4,1,4,3
4,2010,10,2010-10-27,R,Southwest,house_number,Zone4,409,AUTO THEFT,5,4,5,2,3,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2016,10,2016-10-05,B,Lindbergh/Morosgo,house_number,Zone2,211,LARCENY-NON VEHICLE,112,16,24,5,6,24,1
996,2009,10,2009-10-30,D,Underwood Hills,house_number,Zone2,204,LARCENY-FROM VEHICLE,210,15,78,3,6,22,1
997,2012,10,2012-10-10,N,Cabbagetown,house_number,Zone6,606,LARCENY-FROM VEHICLE,166,25,82,3,2,62,1
998,2010,1,2010-01-21,B,Peachtree Heights West,road,Zone2,206,LARCENY-FROM VEHICLE,24,16,151,3,6,60,4
999,2010,1,2010-01-06,V,Mechanicsville,house_number,Zone3,303,BURGLARY-RESIDENCE,96,11,29,1,4,29,1

In [47]:
dfFact = dfAll[['TimeKey', 'LocationKey', 'CrimeTypeKey', 'BeatKey', 'PropertyTypeKey']]

#### Add CrimeType and AtlantaCrimeID into Crime

In [48]:
# surrogate key
dfFact['CrimeID'] = range(1, len(dfFact) + 1)

/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/2525316214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfFact['CrimeID'] = range(1, len(dfFact) + 1)

In [49]:
# surrogate key
crime = crime_1000
crime['Crime'] = range(1, len(crime) + 1)

In [50]:
crime = crime.drop('Date', axis=1)

In [51]:
crime = crime.drop('PublicHoliday', axis=1)

In [52]:
crime

,CrimeType,Location,Beat,Neighborhood,NPU,PropertyType,Year,Month,Zone,Crime
3481,BURGLARY-RESIDENCE,242 ANDERSON AVE NW,108,Dixie Hills,J,house_number,2011,10,Zone1,1
9141,AUTO THEFT,1270 CAROLINE ST NE,609,Edgewood,O,amenity,2012,10,Zone6,2
18844,LARCENY-FROM VEHICLE,3180 ARDLEY RD SW,406,East Ardley Road,I,house_number,2016,10,Zone4,3
19612,AGG ASSAULT,738 PRINCE PL NW,109,Center Hill,J,neighbourhood,2016,10,Zone1,4
436,AUTO THEFT,2909 CAMPBELLTON RD SW,409,Southwest,R,house_number,2010,10,Zone4,5
...,...,...,...,...,...,...,...,...,...,...
19489,LARCENY-NON VEHICLE,635 LINDBERGH DR NE,211,Lindbergh/Morosgo,B,house_number,2016,10,Zone2,996
20024,LARCENY-FROM VEHICLE,1788 ELLSWORTH INDUSTRIAL BLVD NW,204,Underwood Hills,D,house_number,2009,10,Zone2,997
8336,LARCENY-FROM VEHICLE,727 KIRKWOOD AVE SE,606,Cabbagetown,N,house_number,2012,10,Zone6,998
24022,LARCENY-FROM VEHICLE,2900 PHARR COURT SOUTH NW,206,Peachtree Heights West,B,road,2010,1,Zone2,999
25303,BURGLARY-RESIDENCE,292 CRUMLEY ST SW,303,Mechanicsville,V,house_number,2010,1,Zone3,1000

In [53]:
dfFact

     TimeKey  LocationKey  CrimeTypeKey  BeatKey  PropertyTypeKey  CrimeID
0          1            1             1        1                1        1
1          2            2             2        2                2        2
2          3            3             3        3                1        3
3          4            4             4        4                3        4
4          5            5             2        5                1        5
..       ...          ...           ...      ...              ...      ...
995      112           24             5       24                1      996
996      210           78             3       22                1      997
997      166           82             3       62                1      998
998       24          151             3       60                4      999
999       96           29             1       29                1     1000

[1000 rows x 6 columns]

#### dfNPU Relationship

In [54]:
unique_NN = pd.merge(unique_NN, dfNPU, on='NPU', how='left')

dfLocation = unique_NN.copy()

dfLocation = dfLocation.drop(columns=['NPU'])
dfLocation

           Neighborhood  LocationKey  NPUKey
0           Dixie Hills            1       1
1              Edgewood            2       2
2      East Ardley Road            3       3
3           Center Hill            4       1
4             Southwest            5       4
..                  ...          ...     ...
165  Capitol View Manor          166      12
166     Peachtree Hills          167      16
167           Westhaven          168       3
168             Unknown          169       4
169              Bolton          170      15

[170 rows x 3 columns]

#### dfBeat Relationship

In [55]:
unique_beat_zone = pd.merge(unique_beat_zone, dfZone, on='Zone', how='left')

dfBeat = unique_beat_zone.copy()

dfBeat = dfBeat.drop(columns=['Zone'])
dfBeat

   Beat  BeatKey  ZoneKey
0   108        1        1
1   609        2        2
2   406        3        3
3   109        4        1
4   409        5        3
..  ...      ...      ...
76  703       77        7
77  313       78        4
78  701       79        7
79  202       80        6
80  608       81        2

[81 rows x 3 columns]

## Zone Mapping For Cypher

In [56]:
zone_map = {
    'Zone1': 1,
    'Zone2': 2,
    'Zone3': 3,
    'Zone4': 4,
    'Zone5': 5,
    'Zone6': 6,
    'Zone7': 7,
}

crime['ZoneKey'] = crime['Zone'].map(zone_map)

In [57]:
crime

,CrimeType,Location,Beat,Neighborhood,NPU,PropertyType,Year,Month,Zone,Crime,ZoneKey
3481,BURGLARY-RESIDENCE,242 ANDERSON AVE NW,108,Dixie Hills,J,house_number,2011,10,Zone1,1,1
9141,AUTO THEFT,1270 CAROLINE ST NE,609,Edgewood,O,amenity,2012,10,Zone6,2,6
18844,LARCENY-FROM VEHICLE,3180 ARDLEY RD SW,406,East Ardley Road,I,house_number,2016,10,Zone4,3,4
19612,AGG ASSAULT,738 PRINCE PL NW,109,Center Hill,J,neighbourhood,2016,10,Zone1,4,1
436,AUTO THEFT,2909 CAMPBELLTON RD SW,409,Southwest,R,house_number,2010,10,Zone4,5,4
...,...,...,...,...,...,...,...,...,...,...,...
19489,LARCENY-NON VEHICLE,635 LINDBERGH DR NE,211,Lindbergh/Morosgo,B,house_number,2016,10,Zone2,996,2
20024,LARCENY-FROM VEHICLE,1788 ELLSWORTH INDUSTRIAL BLVD NW,204,Underwood Hills,D,house_number,2009,10,Zone2,997,2
8336,LARCENY-FROM VEHICLE,727 KIRKWOOD AVE SE,606,Cabbagetown,N,house_number,2012,10,Zone6,998,6
24022,LARCENY-FROM VEHICLE,2900 PHARR COURT SOUTH NW,206,Peachtree Heights West,B,road,2010,1,Zone2,999,2
25303,BURGLARY-RESIDENCE,292 CRUMLEY ST SW,303,Mechanicsville,V,house_number,2010,1,Zone3,1000,3

## Adjacent Zones Relationship

To answer some of the query:  Find the zones that have are adjacent and sharing the same high crime months. 

We need to find out the adjacent zones for each zone.

In [58]:
# Create AdjacentZones DataFrame
columns = ['ZoneKey', 'AdjacentZoneKey']
AdjacentZone = pd.DataFrame(columns=columns)

# Use adjacency_dict and zone_key_map
adjacency_dict = {
    'Zone1': ['Zone2', 'Zone3', 'Zone4', 'Zone5'],
    'Zone2': ['Zone1', 'Zone5', 'Zone6'],
    'Zone3': ['Zone1', 'Zone4', 'Zone5', 'Zone6'],
    'Zone4': ['Zone1', 'Zone3'],
    'Zone5': ['Zone1', 'Zone2', 'Zone3', 'Zone6'],
    'Zone6': ['Zone2', 'Zone3', 'Zone5']
}

zone_key_map = {
    'Zone1': 1,
    'Zone2': 2,
    'Zone3': 3,
    'Zone4': 4,
    'Zone5': 5,
    'Zone6': 6
}

# Add adjacency data into AdjacentZones DataFrame
for zone, adjacent_zones in adjacency_dict.items():
    zone_key = zone_key_map[zone]
    for adjacent_zone in adjacent_zones:
        adjacent_zone_key = zone_key_map[adjacent_zone]
        AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)

# Check AdjacentZones DataFrame
AdjacentZone.head()

/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)
/var/folders/gh/kv0y6dqx7n1cx32335c_21lc0000gp/T/ipykernel_12490/4151975836.py:29: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AdjacentZone = AdjacentZone.append({'ZoneKey': zone_key, 'AdjacentZoneKey': adjacent_zone_key}, ignore_index=True)

  ZoneKey AdjacentZoneKey
0       1               2
1       1               3
2       1               4
3       1               5
4       2               1

In [59]:
AdjacentZone

   ZoneKey AdjacentZoneKey
0        1               2
1        1               3
2        1               4
3        1               5
4        2               1
5        2               5
6        2               6
7        3               1
8        3               4
9        3               5
10       3               6
11       4               1
12       4               3
13       5               1
14       5               2
15       5               3
16       5               6
17       6               2
18       6               3
19       6               5

## Output csv files

In [66]:
pwd

'/Users/lijiaze/Desktop/2023-1/CITS5504/Projects/Project2'

In [61]:
dfFact.head()

   TimeKey  LocationKey  CrimeTypeKey  BeatKey  PropertyTypeKey  CrimeID
0        1            1             1        1                1        1
1        2            2             2        2                2        2
2        3            3             3        3                1        3
3        4            4             4        4                3        4
4        5            5             2        5                1        5

In [62]:
# Exporting individual dimension tables and fact tables to CSV files
dfTime.to_csv('CSVfiles_1000/CSVfiles_Direct/Time_1000.csv', index=False, header=False)
dfLocation.to_csv('CSVfiles_1000/CSVfiles_Direct/Location_1000.csv', index=False, header=False)
dfNPU.to_csv('CSVfiles_1000/CSVfiles_Direct/NPU_1000.csv', index=False, header=False)
dfCrimeType.to_csv('CSVfiles_1000/CSVfiles_Direct/CrimeType_1000.csv', index=False, header=False)
dfBeat.to_csv('CSVfiles_1000/CSVfiles_Direct/Beat_1000.csv', index=False, header=False)
dfZone.to_csv('CSVfiles_1000/CSVfiles_Direct/Zone_1000.csv', index=False, header=False)
dfPropertyType.to_csv('CSVfiles_1000/CSVfiles_Direct/PropertyType_1000.csv', index=False, header=False)
dfFact.to_csv('CSVfiles_1000/CSVfiles_Direct/CrimeID_1000.csv', index=False, header=False)

AdjacentZone.to_csv('CSVfiles_1000/CSVfiles_Direct/AdjacentZone_1000.csv', index=False, header=False)

## Data For Cypher

In [69]:
crime.to_csv('CSVfiles_1000/CSVfiles_Cypher/data.csv', index=False)
AdjacentZone.to_csv('CSVfiles_1000/CSVfiles_Cypher/zones.csv', index=False)